### *이전 수업 복습

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = "https://finance.naver.com/sise/"

In [3]:
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")

In [4]:
print( soup.find('span', id='KOSDAQ_now').text )  # 코스닥
print( soup.find('span', id='KOSPI_now').text  )  # 코스닥
print( soup.find('span', id='KPI200_now').text )  # 코스닥

998.33
3,259.21
433.94

## 종목의 현재가 가져오기

In [11]:
## 삼성전자 : 005930
## 카카오   : 035720
## 유한양행 : 000100

In [12]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER']
my_stock_code = ['005930','035720', '000100', '035420']

In [5]:
chk_url = 'https://finance.naver.com/item/main.nhn?code=000100'
page = urlopen(chk_url)
soup = BeautifulSoup(page, 'lxml')
soup.title

In [6]:
soup.find("p", class_='no_today').find("span", class_="blind").text

'63,100'

In [7]:
list(soup.find("p", class_="no_today").children)

['\n',
 <em class="no_down">
 <span class="blind">63,100</span>
 <span class="no6">6</span><span class="no3">3</span><span class="shim">,</span><span class="no1">1</span><span class="no0">0</span><span class="no0">0</span>
 </em>,
 '\n']

In [8]:
t = list(soup.find("p", class_="no_today").em.children)
t

['\n',
 <span class="blind">63,100</span>,
 '\n',
 <span class="no6">6</span>,
 <span class="no3">3</span>,
 <span class="shim">,</span>,
 <span class="no1">1</span>,
 <span class="no0">0</span>,
 <span class="no0">0</span>,
 '\n']

In [9]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER']
my_stock_code = ['005930','035720', '000100', '035420']
base_url = "https://finance.naver.com/item/main.nhn?code="

In [21]:
for idx, code in enumerate( my_stock_code ):   #enumerate : index,코드 값을 가져옴
    
    all_url = base_url + code
    page = urlopen(all_url)
    soup = BeautifulSoup(page, 'lxml')
    
    ## 현재가
    tmp = soup.find("p", class_="no_today")
    price = tmp.find("span", class_="blind").text
    
    print(my_stock[idx],price)

삼성전자 80,800
카카오 144,000
유한양행 63,100
NAVER 388,500

## 실습1
#### 관심 있는 종목 5개 선정, 코드 확인. 현재가, 거래량 뽑아오기

In [23]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER','현대차']
my_stock_code = ['005930','035720', '000100', '035420','005380']
base_url = "https://finance.naver.com/item/main.nhn?code="

In [24]:
for idx, code in enumerate( my_stock_code ):   #enumerate : index,코드 값을 가져옴
    
    all_url = base_url + code
    page = urlopen(all_url)
    soup = BeautifulSoup(page, 'lxml')
    
    ## 현재가
    tmp = soup.find("p", class_="no_today")
    price = tmp.find("span", class_="blind").text
    
    print(my_stock[idx], price)

삼성전자 80,800
카카오 145,500
유한양행 63,100
NAVER 391,000
현대차 237,000

#### 거래량 숫자까지 표시하고 싶을 때, 
1) .find_next("span", class_="blind").text
또는 2) .find_next("span").text
#### .find_next는 소스코드 내에서 현재 요소 다음에 나오는 요소들 중 일치하는 요소를 찾아줌 
#### 현재 요소 밑에 부분에서만 find를 하는 것!

In [26]:
for idx, code in enumerate( my_stock_code ):   #enumerate : index,코드 값을 가져옴
    
    all_url = base_url + code
    page = urlopen(all_url)
    soup = BeautifulSoup(page, 'lxml')
    
    ## 거래량
    vol = soup.find("div", class_="rate_info")
    now_vol = vol.find("span", class_="sptxt sp_txt9").find_next("span").text
    
    print(my_stock[idx], now_vol)

삼성전자 6,148,749
카카오 2,167,498
유한양행 116,175
NAVER 285,538
현대차 309,798